/jcMWF.Lib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcMWF.Lib/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcMWF.Lib/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcMWF.Lib/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcMWF.Test.MVC/bin/Antlr3.Runtime.dll
/jcMWF.Test.MVC/bin/Microsoft.Web.Infrastructure.dll
/jcMWF.Test.MVC/bin/Newtonsoft.Json.dll
/jcMWF.Test.MVC/bin/System.Web.Helpers.dll
/jcMWF.Test.MVC/bin/System.Web.Mvc.dll
/jcMWF.Test.MVC/bin/System.Web.Optimization.dll
/jcMWF.Test.MVC/bin/System.Web.Razor.dll
/jcMWF.Test.MVC/bin/System.Web.WebPages.Deployment.dll
/jcMWF.Test.MVC/bin/System.Web.WebPages.Razor.dll
/jcMWF.Test.MVC/bin/System.Web.WebPages.dll
/jcMWF.Test.MVC/bin/WebGrease.dll
/jcMWF.Test.MVC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcMWF.Test.MVC/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcMWF.Test.MVC/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcMWF.Test.MVC/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcMWF.Test.MVC/obj/Debug/build.force
/jcMWF.Test.MVC/obj/Debug/jcMWF.Test.MVC.csprojResolveAssemblyReference.cache
